html{
	font-size: 16px;
}
#owl-Wrapper{
	display: block;
	width: 90%;
	margin: 2.5% auto 0 auto;
}
#owl-example{
	width: 100%;
}
#owl-example .item img{
    display: block;
    width: 100%;

}
.owl-theme .owl-controls{
	margin: 0;
}
.owl-theme .owl-controls .owl-page span{
	background: #000000;
	width: 20px;
	height: 20px;
	transition-duration: 0.6s;
}
.item .name{
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(50,50,50, 0.8);
	text-align: center;
}
.item .name p{
	margin: 1.5rem auto;
	color: rgb(255,255,255);
	font-size: 2rem;
	font-weight: bold;
}
.news{
	margin: 2.5% 0 10px 0;
	padding: 2%;
	border: 2px solid rgb(82, 18, 105);
	float: left;
	width: 40%;
	min-height: 30rem;
	display: inline-block;
	vertical-align: middle;
}
.news h1{
	color: rgb(82, 18, 105);
	margin: 1% 0 1rem 0;
	border-bottom: 3px solid #aaaaaa;
	padding-bottom: 10px;
	font-family: 微軟正黑體, 標楷體;
}
.news  ul{
	list-style-image: url('foot.png');
	padding-left: 22px;
}
.news li{
	color: rgb(82, 18, 105);
	font-size: 25px;
	font-weight: bold;
	font-family: 微軟正黑體, 標楷體;
	margin: 1% auto;
}
.about-us{
	margin: 2.5% 0 10px 0;
	padding: 2%;
	border: 2px solid rgb(82, 18, 105);
	float: right;
	width: 55%;

	display: inline-block;
	vertical-align: middle;
}
.paragraph{
	color: rgb(82, 18, 105);
	font-weight: bold;
	font-size: 1.3rem;
	text-indent: 2rem;
}
@media (max-width: 767px){
	html{
		font-size: 8px;
	}
	#owl-Wrapper{
		display: block;
		width: 95%;
		margin: 5% auto;
	}
	#owl-example{
		margin: 0 auto;
	}
	.news{
		margin-top: 2rem;
		float: none;
		width: 100%;
		height: auto;

	}
	.about-us{
		float: none;
	}
}
@media (max-width: 540px) {
	html{
		font-size: 6px;
	}
}
